@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body{
  overflow-x: hidden;
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
  --animate-line-shadow: line-shadow 15s linear infinite
;
  @keyframes line-shadow {
  0% {
    background-position: 0 0;
    }
  100% {
    background-position: 100% -100%;
    }
  }}

